gg-display {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  padding: 0.5rem;
  margin: 0;

  /* justify-content: var(--text-align);
  align-items: center;

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  color: var(--font-color);
  background-color: var(--background-color); */
}
